.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
gha-creds-*.json
tags.json
# Go binaries
src/*/checkoutservice
src/*/emailservice
src/*/productcatalogservice
src/*/recommendationservice
src/*/shippingservice
src/*/paymentservice
src/*/currencyservice
src/*/adservice
src/*/frontend
